@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="roboto container my-5 mx-auto  w-50 py-5" style="background-color:#e8ffe8; color:#011a01; border-radius:10px;">
  <h1 class="text-center" style="font-weight:bold">Histograms</h1>
  <hr />
  <h5 class="mx-3"  style="font-weight:300">Production </h5>
  <img class="mx-3" src="~/img/R/histogram_Production.png" />
  <hr />
  <h5 class="mx-3"  style="font-weight:300">Yield </h5>
  <img class="mx-3" src="~/img/R/histogram_Production.png" />
<hr />
</div>
