@{
    ViewData["Title"] = "Home Page";
}

<div class="roboto container my-5 mx-auto text-center w-50 py-5" style="background-color:#e8ffe8; color:#011a01; border-radius:10px;">
  <h1 style="font-weight:bold">Precision Crop</h1>
  <h3 style="font-weight:700">An Analysis of Data of Indian Crops</h3>
  <h6>Intelligent Analysis  RealTime Data Update Options and multiple features. </h6>
</div>
