@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="roboto container my-5 mx-auto  w-50 py-5" style="background-color:#e8ffe8; color:#011a01; border-radius:10px;">
  <h1 class="text-center" style="font-weight:bold">Frequency Table</h1>
  <hr />
  <img class="mx-3" src="~/img/R/table.png" />
<hr />
</div>
